<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="동아대수강신청도우미.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <userSettings>
    <동아대수강신청도우미.Properties.Settings>
      <setting name="Id" serializeAs="String">
        <value />
      </setting>
      <setting name="Passwd" serializeAs="String">
        <value />
      </setting>
      <setting name="Pack0" serializeAs="String">
        <value />
      </setting>
      <setting name="Pack1" serializeAs="String">
        <value />
      </setting>
      <setting name="Pack2" serializeAs="String">
        <value />
      </setting>
      <setting name="Pack3" serializeAs="String">
        <value />
      </setting>
      <setting name="Pack4" serializeAs="String">
        <value />
      </setting>
      <setting name="Pack5" serializeAs="String">
        <value />
      </setting>
      <setting name="Pack6" serializeAs="String">
        <value />
      </setting>
      <setting name="Pack7" serializeAs="String">
        <value />
      </setting>
      <setting name="Class0" serializeAs="String">
        <value />
      </setting>
      <setting name="Class1" serializeAs="String">
        <value />
      </setting>
      <setting name="Class2" serializeAs="String">
        <value />
      </setting>
      <setting name="Class3" serializeAs="String">
        <value />
      </setting>
      <setting name="Class4" serializeAs="String">
        <value />
      </setting>
      <setting name="Class5" serializeAs="String">
        <value />
      </setting>
      <setting name="Class6" serializeAs="String">
        <value />
      </setting>
      <setting name="Class7" serializeAs="String">
        <value />
      </setting>
    </동아대수강신청도우미.Properties.Settings>
  </userSettings>
</configuration>